<h1>Registrate</h1>


<form action="/auth/signup" method="POST">
  <input placeholder="Nombre" type="text" name="username">
  <br>
  <input type="password" name="password">
  <input type="submit">
</form>